<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>사용자 리스트</title>
</head>
<body>
    <h2>사용자 리스트</h2>
    <div>
        <ul>
            <% 
                let curId
                let curName
                results.forEach((data, index) => {
                    curId = data.id
                    curName = data.name
            %>
            <li># <%= index %> - 아이디 : <%= curId %>, 이름 : <%= curName %></li>
            <%
                })
            %>
        </ul>
    </div>
    <a href="/listuser.html">돌아가기</a>
</body>
</html>